<!DOCTYPE html>
<html>
<head>
    <title>Realtime Chat</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <h2>Chat Room</h2>

    <input id="message" autocomplete="off" placeholder="Type message"/>
    <button onclick="sendMessage()">Send</button>

    <ul id="messages"></ul>

<script>
    var socket = io();

    function sendMessage() {
        var msg = document.getElementById("message").value;
        socket.send(msg);
        document.getElementById("message").value = "";
    }

    socket.on('message', function(msg) {
        var li = document.createElement("li");
        li.innerText = msg;
        document.getElementById("messages").appendChild(li);
    });
</script>

</body>
</html>